<!-- Change Avatar modal -->

<div class="modal fade" id="changeAvatarModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Avatar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body conatiner" style="height:400px; overflow-y: auto;">
                <div class="row">
                    <% for( let avatar = 0; avatar <= 42; avatar++ ) { %>
                    <div class="col m-2 text-center d-flex flex-column align-items-center">
                        <div class="avatar-container">
                            <img src="/img/avatars/<%= String(avatar).padStart(2,'0') %>.jpg" alt="avatar"
                                class="rounded-circle avatar-img" height="150" width="150">
                            <div class="overlay"></div>
                            <div class="btn-avatar">
                                <% if(user_obj.avatar === avatar) { %>
                                <a id="<%= String(avatar).padStart(2,'0') %>"
                                    class="btn btn-sm btn-outline-dark btn-avatar-modal disabled">SELECTED</a>
                                <% } else { %>
                                <a id="<%= String(avatar).padStart(2,'0') %>"
                                    class="btn btn-sm btn-outline-dark btn-avatar-modal">SELECT</a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary change-avatar-btn" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('.btn-avatar-modal').click(function () {
        let id = $(this).attr("id")

        let old = $('.btn-avatar-modal.disabled').attr('id')

        $(`#${old}`).removeClass('disabled')
        $(`#${old}`).text('SELECT')

        $(`#${id}`).addClass('disabled')
        $(`#${id}`).text('SELECTED')
    })

    $('.change-avatar-btn').click(function () {
        let selected = $('.btn-avatar-modal.disabled').attr('id')

        $.ajax({
            url: `/avatar`,
            method: 'put',
            dataType: 'json',
            data: {
                'avatar': selected
            },
            success: function (response) {
                if (!response.error) {
                    console.log('new avatar', response.message)
                    $("#mainAvatarImg").attr('src',
                        `/img/avatars/${String(response.message).padStart(2,'0')}.jpg`
                    )
                } else {
                    console.log('error', response.message)
                }
            },
            error: function (response) {
                alert('server error occured')
            }
        });
    })

</script>
