<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ServiceSpace</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/feed">Explore</a>
                </li>
                <li class="nav-item">
                    <% if (isLoggedIn) { %>
                    <% if (profile) { %>
                    <a class="nav-link" href="/logout">Log Out</a>
                    <% } else { %>
                    <a class="nav-link" href="/profile">Profile</a>
                    <% } %>
                    <% } else { %>
                    <a class="nav-link" href="/signin">Sign In</a>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    $(document).ready(function () {
        $('.navbar-nav li.active').removeClass('active');
        $('.navbar-nav li a[href="' + location.pathname + '"]').closest('li').addClass('active');
        console.log(location.pathname)
    });

</script>
