<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./partials/common_header.ejs') %>
</head>
<style type="text/css">
	body,
	.list-group-item {
		color: #1a202c;
		text-align: left;
		background-color: #e2e8f0;
	}

	.jumbotron {
		/* background-color: white; */
		border-top: 7px solid #272e38;
		border-left: 1px solid #272e38;
		border-bottom: 1px solid #272e38;
		border-right: 1px solid #272e38;
		border-radius: 0 0 10px 10px !important;
	}

	.nav-tabs>.nav-item>.nav-link {
		border: 1px solid #272e38;
		padding: 18px 25px;
		color: #fff;
	}

	.nav-tabs>.nav-item>.nav-link:hover,
	.nav-tabs>.nav-item>.nav-link:focus,
	.nav-tabs>.nav-item>.nav-link.active {
		background: #272e38 !important;
		font-weight: bold;
		transition: background 0.2s linear;
	}

</style>

<body>
	<%- include('./partials/scripts.ejs') %>
	<%- include('./partials/navbar.ejs', {isLoggedIn: iLog}); %>
	<%- include('./partials/messages.ejs'); %>

	<br /><br /><br /><br /><br />

	<div class="container col-md-8 col-lg-6 col-xl-4 mx-auto">
		<ul class="nav nav-tabs nav-justified">
			<li class="nav-item">
				<a class="nav-link active bg-dark" data-toggle="tab" href="#login_tab"
					style="border-radius: 10px 0 0 0">Log in</a>
			</li>
			<li class="nav-item">
				<a class="nav-link bg-dark" data-toggle="tab" href="#signup_tab" style="border-radius: 0 10px 0 0">Sign
					up</a>
			</li>
		</ul>
		<div class="jumbotron">
			<div class="tab-content">
				<div class="tab-pane active" id="login_tab">
					<form action="/login" method="post">
						<div class="form-group">
							<label for="login_email">Email address</label>
							<input type="email" class="form-control" id="login_email" name="username"
								placeholder="Email address" />
							<!-- small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small -->
						</div>
						<div class="form-group">
							<label for="login_password">Password</label>
							<input type="password" class="form-control" id="login_password" name="password"
								placeholder="Password" />
						</div>
						<br />
						<div class="text-center">
							<button type="submit" class="btn btn-outline-primary mx-auto">
								Log in
							</button>
						</div>
					</form>
				</div>
				<div class="tab-pane fade" id="signup_tab">
					<form action="/signup" id="signup_form" method="post"
						oninput='confirm_password.setCustomValidity(confirm_password.value != password.value ? "Passwords do not match." : "")'>
						<div class="form-group">
							<label for="signup_email" class="sr-only">Email address</label>
							<input type="email" class="form-control" id="signup_email" name="username"
								placeholder="Email address" required />
						</div>
						<div class="form-group">
							<label for="signup_password" class="sr-only">Password</label>
							<input type="password" class="form-control" id="signup_password" name="password"
								placeholder="Password" required />
						</div>
						<div class="form-group">
							<label for="signup_confirm_password" class="sr-only">Confirm Password</label>
							<input type="password" class="form-control" name="confirm_password"
								id="signup_confirm_password" placeholder="Confirm Password" required />
						</div>
						<div class="form-row form-group">
							<div class="col-sm-6 form-group">
								<input type="text" class="form-control" name="name" placeholder="Full name" required />
							</div>
							<div class="col-sm-6 form-group">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">DOB</span>
									</div>
									<input type="date" class="form-control" id="dob" name="dob" required />
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="text-center">
								<span class="form-text mb-2">
									What will be your role on ServiceSpace?
								</span>
							</div>

							<div class="btn-group d-flex btn-group-toggle" data-toggle="buttons" id="sp_checkbox">
								<label class="btn btn-secondary w-100 active">
									<input type="radio" name="utype" id="customer" value="Customer" checked />Customer
								</label>
								<label class="btn btn-secondary w-100">
									<input type="radio" name="utype" id="service_provider"
										value="Service Provider" />Service Provider
								</label>
							</div>
						</div>

						<div class="form-group" id="sp_form" style="display: none">
							<div class="text-center">
								<small class="form-text text-muted">The below section is only for Service
									Providers.</small>
							</div>
							<hr />
							<div class="text-center">
								<small class="form-text text-muted mb-2">You'll be able to add services to your profile
									once
									you sign up. <br> For now, we only need your official contacts.
								</small>
							</div>
							<div class="form-group form-row">
								<div class="col">
									<input type="email" class="form-control" name="email"
										placeholder="Official Email" />
								</div>
								<div class="col">
									<input class="form-control" type="tel" id="phone" name="phone" pattern="[0-9]{10}"
										title="Phone number should be exactly 10 digits" placeholder="Official Phone" />
								</div>
							</div>
							<div class="form-group form-check">
								<input type="checkbox" class="form-check-input" id="t_and_c" />
								<label class="form-check-label" for="t_and_c"><b>I am a Service Provider</b> and
									I
									agree
									to the
									<a href="#">Terms and Conditions</a> of offering a service
									on ServiceSpace.</label>
							</div>
						</div>

						<br />
						<div class="text-center">
							<button type="submit" class="btn btn-outline-primary" id="create_acc_btn">
								Create Account
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script>
		function validate() {}

		// document.getElementById("phone").oninvalid = (event) => { event.target.setCustomValidity('Phone number should be exactly 10 digits') };

		$("#sp_checkbox label input").click(function () {
			var sp_form = document.getElementById("sp_form");
			const utype = $('input[type="radio"][name="utype"]:checked').val();
			if (utype == "Service Provider") {
				sp_form.style.display = "block";
				$("#sp_form input").prop("required", true);
				if (document.getElementById("t_and_c").checked) {
					$("#create_acc_btn").prop("disabled", false);
				} else {
					$("#create_acc_btn").prop("disabled", true);
				}
			} else {
				sp_form.style.display = "none";
				$("#sp_form input").prop("required", false);
				$("#create_acc_btn").prop("disabled", false);
			}
		});

		$("#t_and_c").click(function () {
			if (document.getElementById("t_and_c").checked) {
				$("#create_acc_btn").prop("disabled", false);
			} else {
				$("#create_acc_btn").prop("disabled", true);
			}
		});

	</script>
</body>

</html>
