:root {
    --bg-color: #e2e8f0;
    --text-color: #1a202c;
}

body,
.service-list-item {
    color: var(--text-color);
    text-align: left;
    background-color: var(--bg-color);
}

.main-body {
    padding: 15px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

/* Home Screen */

.home-cards {
    padding: 30px;
    border-radius: 10px;
}

hr {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}